<a href="https://colab.research.google.com/github/shinjaehan/shinjaehan/blob/main/11208%EC%8B%A0%EC%9E%AC%ED%95%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Happy Programing~~~^^")
print("신재한")
print("한양공업고등학교")

Happy Programing~~~^^
신재한
한양공업고등학교

In [33]:
#11208신재한
#1 변수 사용하기
age= 50000*10
print(age)

500000

In [97]:
#2.문자열을 정수로 변환
age="2020"
print(age)
print(int(age)-1)
print(int(age)-2)
print(int(age)-3)

2020
2019
2018
2017

In [38]:
#3 아래에 문자열에서 '홀'만 출력하세요
s = "홀짝홀짝홀짝"
print(s[::2 ])

홀홀홀

In [18]:
#4. 문자열을 거꾸로 뒤집어 출력하세요.
s="PYTHON"
s_list =list(s)
s_list.reverse()
print(''.join(s_list))

NOHTYP

In [46]:
#5 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.
movie_rank = ['닥터스트레인지','스프릿','럭키','베트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스프릿', '럭키', '베트맨']

In [77]:
#6슬라이싱을 사용하여 홀수만 출력하라
nums = [1,2,3,4,5,6,7,8,9,10]
set(range(1,10,2))

{1, 3, 5, 7, 9}

In [87]:
#7 리스트에 있는 값을 오름차순으로 정렬하세요.
data = [2,4,3,1,5,10,9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [95]:
#8 문자열 출력
name1="김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d"%(name1, age1))
print("이름: %s 나이: %d"%(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13